# Swift / Xcode
.build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate

# macOS
.DS_Store
**/.DS_Store
.Spotlight-V100
.Trashes

# Build artifacts
ActivityMonitor.app/
